.newsArticle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 5px 0 14px 0;
}

.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--gray-color);
    margin: 0 0 44px 0;

}

.date {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.3px;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--orange-color);
    margin: 0;

}