.wrapper {
    position: fixed;
    width: 1300px;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
    background-color: violet;
}
