.wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
    background-color: var(--background-color);
}
