.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 502px;
}

.title {
    font-size: clamp(60px, 8vw, 136px);
    font-weight: 700;
    line-height: 0.90;
    color: var(--title-color);
    margin: 0;
    text-transform: uppercase
}

.subtitle {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 5px;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--title-color);
    margin: 0 10px;
}

.description {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 8px 10px;
}

.btnWrapper {
    margin-top: 40px;
    margin-left: 8px;
}

.imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 760px;
    width: 100%;
    object-fit: contain;
}

