.wrapper {
    width: 100%;
    background-color: var(--background-color);
    /* background-image: url('../../assets/background2.png'); */
    background-size: 1920px 1345px;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 1345px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imgWrapper {
    max-width: 600px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgWrapper .image {
    width: 100%;
    height: auto;
}

.formWrapper {
    max-width: 600px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: var(--title-color);
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}

.desc {
    max-width: 618px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    margin: 0;
}

.form {
    display: flex;
    gap: 8px;
    width: 100%;
}

.form input {
    height: 56px;
    width: 100%;
    border: 1px solid var(--grey-color);
    box-sizing: border-box;
}