.wrapper {
        width: 100%;
        background-color: var(--background-color);
        /* background-image: url('../../assets/background2.png'); */
        background-size: 1920px 700px;
        background-position: center top;
        background-repeat: no-repeat;
        min-height: 700px;
}

.testimonial {
    text-align: center;
}

.quote {
    font-style: italic;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
}
